<p>every form requires an action attribute,requires an url where to submit the form info to,method either get or
    post</p>
<p> input can be combined with type,name,size,maxlength</p>
<ul>
    <p>Input types:</p>
    <li>password(name,size,maxlength)</li>
    <li>testarea(name,cols,rows)</li>
    <li>radio(name,value,checked=checked(preselection)</li>
    <li>checkbox,(name,value(specify what to send),checked</li>
    <li>select(name) then similar to li use option(value,selected) to specify options</li>
    <li>select(name,size,multiple) and then option for multiple options</li>
    <li>file(name)</li>
    <li>submit(name,value)</li>
    <li>image,works as submit but with image</li>
    <li>button(allows to combine text and images"img src| plus button input type hidden(name,value)</li>


</ul>