<p> <dfn>ol is an ordered list</dfn></p>
<ol id="ol">
    <li>First add butter and sugar</li>
    <li> then add eggs and flour</li>
    <li> mix and then in the oven</li>
</ol>
<p></p>
<p><dfn>ul is an unordered list</dfn></p>
<ul id="ul">
    <li> his name is peter</li>
    <li> killer whales are dolphins</li>
    <li> i sit next to phranz</li>
</ul>
<p> <dfn> dl are definitions list,dt contains the definition term, dd the definition</dfn></p>
<dl  id="dl">
    <dt>Origami:</dt>
    <dd>
        Origami is the traditional Japanese art of paper folding, creating intricate shapes and designs by folding a single sheet of paper without cutting or gluing. It combines precision and creativity to produce beautiful three-dimensional figures and holds cultural significance in Japanese heritage.
    </dd>
    <dd>
        <br />
    <dl>
        <dt>Nested list</dt>
        <dd>
            In HTML, a nested list refers to a list structure where one list (the inner list) is contained within another list (the outer list). This allows you to create hierarchical or indented lists, commonly used for creating sub-categories or related items within a main list, where each nested list item is further indented to visually represent the hierarchy.
        </dd>
    </dl>
    </dd>
</dl>
<p> to open a link in a new tab use target="_blank"<a href="https://www.google.com" target="_blank">google in a new tab</a> </p>
<ul>
    <li><a href="#ul">ul</a></li>
    <li><a href="#dl">dl</a></li>
    <li><a href="#ol">ol</a></li>
</ul>
<p>we use figure and figcapation to mark a connection,we will ad an image(img src="" alt="descr", title="",width="",height="")</p>
<figure>
<img src="https://deih43ym53wif.cloudfront.net/large_sunset-beach-port-waikato-new-zealand-shutterstock_123331423.jpg_8f4b4080c6.jpg"
     alt="a sunset" title="the sunset"/>
    <figcaption>a sunset</figcaption>
</figure>