<html>
    <head>
       <title> this is the title of the site,should not be visible in browser</title>
    </head>

    <body>
        <h1>this is the title you will see in the browser</h1>
        <h2><b>bold lv 2 title</b> non bold <br />for comp.</h2>
        <hr />
    <p> <b> now this is bold, doesnt work in headers</b> test</p>
    <p> H<sub>2</sub><sup>3</sup></p>
    <p> <strong> use strong to for important text</strong></p>
    <p> <em> use em to put emphasis on sth</em></p>
    <blockquote cite="googl.com"><p> this is a blockquote</p></blockquote>
    <q><p> this uses q then p</p></q>
    <p> <q> this uses p then q</q></p>
    <p> <abbr title="Abbreation">abbr</abbr></p>
    <p> use <cite>cite</cite> to indicate a citation and <dfn>dfn</dfn> indicate a definition</p>
    <address>
        <p><a href="mailto:test@gmail.com">
            test@gmail.com</a></p>
        <p> 8574 am weg 3, tuzingen</p>
    </address>
    <p><ins>ins indicates somethin was insertet</ins> <del> del indicates somethin was deleted</del></p>
    <p><s> as indicates somethin is no longer accurate</s>  this is accurate</p>
    </body>
</html>