{% extends "django1app/base.html" %}

{% block content %}
<!-- ul is for unordered list -->
<p>Topics</p>

    <ul>
        {% for topic in topics %}
            <li>
                <a href = "{%url 'django1app:topic' topic.id%}">{{topic}} </a>
            </li>
    <!-- the brackets indicate a template variable, li stands for list item, "/" indicates a closing of p,ul,li  -->
            {%empty%}
                <li> No topics have been added yet</li>
        {% endfor %}
    </ul>
<a href="{% url 'django1app:new_topic' %}">Add a new topic:</a>

{% endblock content %}